header {
    background: var(--cor-white);
    padding: 1vw 0;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 999
}

.logo {
    width: 13.989346574531702vw;
    height: 7.686454161830605vw
}

.container01 {
    display: flex;
    flex-direction: row;
    padding: 9vw 6vw
}

.container01 .vert01 {
    width: 70vw
}

.container01 .vert01 img {
    width: 29.977171231139366vw;
    height: 33.89726285367297vw;
    z-index: 2;
    position: relative
}

.container01 .vert01 .lay_text {
    max-width: 90vw
}

.container01 .vert02 {
    max-width: 100%
}

.container01 .actionBtn{
    margin-top: 3vw;
}

.vert02 .lay_text {
    margin-top: 2vw;
    text-align: center;
    color: var(--cor-white);
    font-style: italic
}

.vert02 .lay_text h1 {
    font-size: 2.813vw
}

.vert02 .lay_text h2 {
    font-size: 1.72vw;
    font-weight: bold
}

.vert02 .vert02 .lay_text h3 {
    font-size: 1.72vw;
    font-weight: lighter;
    font-style: italic
}

.container01 .vert02 .action {
font-size: 1.5vw;
}

.container01 .vert02 .lay_text h3 {
    font-size: 1.72vw
}

.action {
    padding: .5vw 1vw;
    border-radius: .3vw;
    outline: none;
    border-style: none;
    background-color: var(--cor-white);
    color: var(--cor-primaria);
    font-weight: bold;
    font-size: 1.2vw;
    cursor: pointer;
    animation: pulseButton 2s infinite
}

.container02 .vert01 span:nth-child(1) {
    font-size: 2.5vw
}

.pass {
    margin: 4vw 0vw
}

.pass img {
    width: 29.3546453085727vw;
    height: 25.12709551956587vw;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center
}

.infos img {
    width: 24.98097602594947vw;
    height: 24.289195151384714vw
}

.infos span:nth-child(1) {
    font-size: 2vw;
    text-align: start;
    max-width: 43vw
}

.paragraphe02 span {
    font-size: 2vw;
    text-align: end;
    max-width: 47vw
}

.paragraphe02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.paragraphe02 img {
    width: 24.98097602594947vw;
    height: 26.057079608605754vw
}

.paragraphe01 {
    font-weight: bold
}

.container02 .action {
    background-color: var(--cor-primaria);
    color: var(--cor-white);
    font-size: 2vw
}

.vert01 span:nth-child(1) {
    font-size: 3vw;
    text-align: center;
    font-weight: bolder
}

.ngs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 3vw 3vw;
    justify-content: center
}

.container03 .vert02 .ngs .ng {
    width: 20vw;
    height: 18vw;
    box-shadow: #00000075 0 0 7px;
    border-radius: 1vw;
    margin: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    background-color: var(--cor-primaria);
    color: var(--cor-white);
    justify-content: flex-start;
    align-items: center
}

.container03 .vert02 span {
    font-weight: bold;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-size: 1.5vw
}

.container03 .vert02 .ngs .ngaction {
    width: 50vw;
    height: 20vw;
    box-shadow: none;
    border-radius: 1vw;
    margin: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.container03 .vert02 .action {
    background-color: var(--cor-primaria);
    color: var(--cor-white);
    font-size: 2vw;
    padding: 2vw
}

.container04 .vert02 {
    margin-top: 5vw
}

.carousel-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw
}

.carousel {
    width: 71vw;
    overflow: hidden;
    margin: 0 12vw
}

.carousel-items {
    display: flex;
    transition: transform .3s ease-in-out;
    padding: 0 3vw;
    width: 57vw
}

.carousel-item {
    flex: 0 0 calc(100% / 3);
    box-shadow: #00000047 0 0 7px;
    margin: 1vw .5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    padding: 5px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 3vw;
    color: rgb(20 32 106)
}

.carousel-prev {
    left: 8vw;
    transform: rotate(90deg)
}

.carousel-next {
    right: 8vw;
    transform: rotate(-90deg)
}

.container05 .vert01 p {
    margin-top: 6vw;
    font-size: 3vw
}

.container05 .vert02 .serv {
    width: 20vw;
    box-shadow: #00000075 0 0 7px;
    border-radius: 1vw;
    margin: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.43vw;
    transition: 1s;
    background: var(--cor-primaria);
    color: var(--cor-white)
}

.container05 .vert02 .serv i {
    margin-bottom: 2vw;
    font-size: 3vw
}

.container05 .action {
    background-color: var(--cor-primaria);
    color: var(--cor-white);
    font-size: 2vw;
    margin-top: 8vw
}

.contatoss {
    margin: 4vw 4vw 12vw;
    display: flex;
    flex-direction: column;
    text-align: start
}

.contatoss>:nth-child(1) {
    font-family: 'Arial';
    font-weight: 600;
    font-size: 2vw;
    margin-bottom: 1vw;
    color: white
}

.contatoss>:nth-child(2) {
    font-family: 'Arial';
    font-weight: 600;
    font-size: 1.3vw;
    margin-bottom: 1vw;
    color: white
}

.textContato {
    color: white
}

.icoContato {
    margin-right: 1vw;
    font-size: 1.5vw;
    margin-bottom: 1vw
}

.sos {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center
}

.social {
    display: flex;
    color: white
}

.carousel-item img {
    width: 30vw;
    height: 37.499vw;
    border-radius: 1vw
}

.setedois{visibility: hidden; font-size: 3.125vw;}
.setedois:before{
    content: '72 horas';
    animation: aten 3s infinite;
    animation-delay: 1s;
    transition: 1s;
    position: absolute;
    visibility: visible;
    color: rgb(255, 253, 134);
}
.container02 .action a::after{
    content: 'Consulte-nos para uma análise gratuita.';
}
.container03 .vert02 .action::after, .container05 .action::after{
content: ' Agende uma consulta gratuita.';
}