:root {
    --cor-primaria: #14206a;
    --cor-white: #ffffff
}

html::-webkit-scrollbar {
    width: 1vw
}

html::-webkit-scrollbar-thumb {
    background-color: #0b0a66;
    width: 1vw
}

html::-webkit-scrollbar-track {
    background: var(--cor-white)
}

* {
    padding: 0;
    margin: 0;
    font-family: 'arial';
}

.logo{ transition: 500ms;}
.sec01 {
    background-image: url('../images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 4vw;
    position: relative;
    color: var(--cor-white)
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.sec0 {
    width: 100%
}

.container02 {
    text-align: center;
    width: 100%;
    color: var(--cor-primaria)
}

.container05 {
    padding: 0 6vw;
    margin-top: 10vw;
    text-align: center;
    color: var(--cor-primaria)
}

.container05 .vert01 span {
    font-style: italic
}

.container04 .vert01 {
    display: flex;
    flex-direction: column;
    font-style: italic
}

.carousel-item span {
    font-weight: bold;
    margin-bottom: 1vw
}

.container01 .vert02 .lay_text h3 {
    font-weight: lighter;
    font-style: italic
}


h1{ text-transform: uppercase; }

h1,
h2,
h3 {
    margin-bottom: 2vw
}

.actionBtn {
    width: 100%;
    text-align: center;
    margin-top: 10vw;
}

.container01 .action a {
    text-decoration: none;
    color: var(--cor-primaria)
}

.action a {
    text-decoration: none;
    color: var(--cor-white)
}

.container01 .vert02 .action {
    padding: .5vw 1vw;
    border-radius: .3vw;
    outline: none;
    border-style: none;
    background-color: var(--cor-white);
    color: var(--cor-primaria);
    font-weight: bold;
    font-size: 2vw;
    cursor: pointer;
    animation: pulseButton 2s infinite;
    z-index: 10;
    position: relative
}

@keyframes pulseButton {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

.container02 .vert01 {
    display: flex;
    flex-direction: column;
    font-style: italic;
    padding: 0vw 1vw;
}

.container02 .vert02 {
    margin: 1vw 6vw
}

.destack {
    text-transform: uppercase
}
@keyframes aten {
    0% {
        
        transform: rotate(3deg)
    }

    10% {
       
        transform: rotate(-3deg);
    }

    20% {
      
        transform: rotate(3deg);
    }
    30%{transform: rotate(0deg);}

    100%{
       
        transform: rotate(0deg);
    }
}


.container03 {
    padding: 0 6vw;
    margin-top: 10vw;
    text-align: center;
    color: var(--cor-primaria)
}

.container03 .vert01 {
    display: flex;
    flex-direction: column;
    font-style: italic
}

.container02 .vert01 span:nth-child(1) {
    text-transform: uppercase;
}

.container05 .vert02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.contatoss,
.sos {
    transform: rotate(-180deg)
}

.iconRedes {
    color: white;
    font-size: 4vw;
    margin: 1vw
}

footer {
    background-image: url('../images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
    color: var(--cor-white);
    transform: rotate(180deg);
    display: flex;
    flex-direction: column-reverse
}

.container04 {
    padding: 0 6vw;
    margin-top: 10vw;
    text-align: center;
    color: var(--cor-primaria)
}

.accordion {
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
    padding-left: 10vw;
    padding-right: 10vw
}

.accordion-item {
    border-top: 1px solid #ccc
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    transition: background-color .3s
}

.accordion-content {
    padding: 10px;
    display: none
}

.accordion-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #0d0a64
}

.accordion-icon {
    font-size: 1.2em;
    color: #888;
    transition: transform .3s
}

.accordion-content {
    padding: 10px;
    display: none
}

.accordion-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6A6972;
    margin: 0;
    font-family: 'arial'
}

.accordion-item.expanded .accordion-content {
    display: block
}

.farrr {
    color: var(--cor-primaria)
}

section.sec000 {
    margin-top: 10vw
}

.dev {
    border-top: 1px solid rgba(255, 255, 255, .3)
}

.wapp {
    color: #fff;
    position: fixed;
    right: 1vw;
    bottom: 3.843vw;
    width: 5.227vw;
    height: 5.765vw;
    background-image: url('../images/wpp.png');
    background-size: cover;
    background-size: 5.381vw;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 99;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    display: none;
    display: inline-block;
    z-index: 1000;
    cursor: pointer;
}

.containeContato {
    margin: 3vw 7vw 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

.col-lg-1 {
    max-width: 100%;
    color: var(--cor-primaria)
}

.team-content {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 36vw
}

.text_contato1 {
    margin: 0;
    font-size: 3vw
}

.text_contato {
    font-size: 1.8vw
}

.abertura_de_empresa {
    display: flex;
    flex-direction: column;
    width: 47vw
}

.nameTelefone {
    display: flex;
    flex-direction: row
}

.nn {
    padding: .8vw;
    width: 100%;
    background-color: #001930;
    border-width: 0 0 0 0;
    border-radius: 11vw;
    margin-bottom: 1vw;
    color: white;
    margin-right: .8vw
}

.tt {
    padding: .8vw;
    width: 100%;
    background-color: #001930;
    border-width: 0 0 0 0;
    border-radius: 11vw;
    margin-bottom: 1vw;
    color: white
}

.mail {
    max-width: 96.5%
}

.ee {
    padding: .8vw;
    width: 100%;
    background-color: #001930;
    border-width: 0 0 0 0;
    border-radius: 11vw;
    margin-bottom: 1vw;
    color: white
}

.envi {
    background-color: royalblue;
    width: 100%;
    outline: none;
    border-radius: 10vw;
    margin: auto;
    border-style: none;
    color: white;
    padding: .8vw;
    transition: 200ms
}

.envi:hover {
    background-color: #fff;
    color: #2B2C95;
    border-color: #fff;
    cursor: pointer
}

.spp {
    text-align: center;
    margin-top: 10vw;
    font-style: italic;
    color: var(--cor-primaria);
}

.spp span {
    font-size: 3vw
}

p.tel-link {
    color: var(--cor-white);
    text-decoration: none;
  }


/*==============================pop Whats====================*/
.pop {
    background: #0000004f;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;   
    visibility: hidden;
}

.lay_whats{
    right: 2vw;
    bottom: 10vw;
    position: absolute;
    width: 37vw;
    background-color: #ffffff;
}
.lay_whats .text{
    background-color: #265c54;
    padding: 2vw;
    color: white;
    font-family: 'Arial';
    display: flex;
    justify-content: space-between;
}

.lay_whats .text span{
    max-width: 25vw;
    font-size: 1.23vw;
}

.lay_whats .abertura_de_empresa_pop {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    width: auto;
    background-color: #ebe5de;
}

.lay_whats .abertura_de_empresa_pop .nameTelefone{
    display: flex;
    flex-direction: column;
}

.lay_whats .abertura_de_empresa_pop .nameTelefone .nn, .lay_whats .abertura_de_empresa_pop .nameTelefone .tt, .lay_whats .abertura_de_empresa_pop .mail .ee{
    color: #000000;
    font-family: Open Sans, sans-serif;
    font-size: 1.2vw;
    background-color: #fdfdfd;
    border-style: solid;
    border-color: #cacaca;
    border-radius: 0.384vw;
    border-width: 0.077vw;
    width: 33vw;
    outline: none;
}

div.pop > div > form.abertura_de_empresa_pop > button.envi{
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    background-color: rgba(83,164,81,1);
    border-bottom-style: none;
    border-color: #000000;
    border-left-style: none;
    border-radius: 0.4vw;
    font-family: Open Sans, sans-serif;
    height: 3.689vw;
    margin-top: 1vw;
    max-width: 33vw;
    font-size: 1.5vw;
}
.abertura_de_empresa_pop .nameTelefone .tt{
    padding-left: 6.5vw;

}
.fa-times{
    cursor: pointer;
}





.telselect{
    display: flex;
}
 /* Estilize o container do Select2 */
 .select2-container {
    position: absolute;
  }
  
  /* Estilize a imagem */
  .country-image {
    top: 50%;
    left: calc(50% - 10px);
    position: absolute;
    transform: translate(-50%, -50%);
    width: 3vw;
    outline: none;
  }

  /* Estilize o campo de seleção */
  #countrySelect {
    padding-left: 4vw;
    width: 5.5vw;
    height: 3.1vw;
    outline: none;
  }

  span.code {
    position: relative;
    left: 6vw;
    top: 0.9vw;
    font-size: 1.23vw;
}
/*--------------*/