:root {
    --cor-primaria: #14206a;
    --cor-white: #ffffff
}

html::-webkit-scrollbar {
    width: 1vw
}

html::-webkit-scrollbar-thumb {
    background-color: #0b0a66;
    width: 1vw
}

html::-webkit-scrollbar-track {
    background: #ffffff
}

* {
    padding: 0;
    margin: 0;
    font-family: 'arial';
}

.sec01 {
    background-image: url(../images/banner-bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 4vw;
    position: relative;
    color: var(--cor-white)
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.sec0 {
    width: 100%
}

.container02 {
    text-align: center;
    width: 100%;
    color: var(--cor-primaria)
}

.container05 {
    padding: 0 6vw;
    margin-top: 10vw;
    text-align: center;
    color: var(--cor-primaria)
}

.container05 .vert01 span {
    font-style: italic
}

.container04 .vert01 {
    display: flex;
    flex-direction: column;
    font-style: italic
}

.carousel-item span {
    font-weight: bold;
    margin-bottom: 1vw
}

.container01 .vert02 .lay_text h3 {
    font-weight: lighter;
    font-style: italic
}


h1{ text-transform: uppercase; }

h1,
h2,
h3 {
    margin-bottom: 2vw
}

.actionBtn {
    width: 100%;
    text-align: center;
    margin-top: 10vw;
}

.container01 .action a {
    text-decoration: none;
    color: var(--cor-primaria)
}

.action a {
    text-decoration: none;
    color: var(--cor-white)
}

.container01 .vert02 .action {
    padding: .5vw 1vw;
    border-radius: .3vw;
    outline: none;
    border-style: none;
    background-color: var(--cor-white);
    color: var(--cor-primaria);
    font-weight: bold;
    font-size: 2vw;
    cursor: pointer;
    animation: pulseButton 2s infinite;
    z-index: 10;
    position: relative
}

@keyframes pulseButton {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

.container02 .vert01 {
    display: flex;
    flex-direction: column;
    font-style: italic;
    padding: 0vw 1vw;
}

.container02 .vert02 {
    margin: 1vw 6vw
}

.destack {
    animation: pulseDestak 2s infinite;
    text-transform: uppercase
}

@keyframes pulseDestak {
    10% {
        color: black
    }

    40% {
        color: rgb(252, 30, 30)
    }

    100% {
        color: black
    }
}
@keyframes aten {
    0% {
        
        transform: rotate(3deg)
    }

    10% {
       
        transform: rotate(-3deg);
    }

    20% {
      
        transform: rotate(3deg);
    }
    30%{transform: rotate(0deg);}

    100%{
       
        transform: rotate(0deg);
    }
}


.container03 {
    padding: 0 6vw;
    margin-top: 10vw;
    text-align: center;
    color: var(--cor-primaria)
}

.container03 .vert01 {
    display: flex;
    flex-direction: column;
    font-style: italic
}

.container02 .vert01 span:nth-child(1) {
    text-transform: uppercase;
}

.container05 .vert02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.contatoss,
.sos {
    transform: rotate(-180deg)
}

.iconRedes {
    color: white;
    font-size: 4vw;
    margin: 1vw
}

footer {
    background-image: url(../images/banner-bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
    color: var(--cor-white);
    transform: rotate(180deg);
    display: flex;
    flex-direction: column-reverse
}

.container04 {
    padding: 0 6vw;
    margin-top: 10vw;
    text-align: center;
    color: var(--cor-primaria)
}

.accordion {
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
    padding-left: 10vw;
    padding-right: 10vw
}

.accordion-item {
    border-top: 1px solid #ccc
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    transition: background-color .3s
}

.accordion-content {
    padding: 10px;
    display: none
}

.accordion-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #0d0a64
}

.accordion-icon {
    font-size: 1.2em;
    color: #888;
    transition: transform .3s
}

.accordion-content {
    padding: 10px;
    display: none
}

.accordion-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6A6972;
    margin: 0;
    font-family: 'arial'
}

.accordion-item.expanded .accordion-content {
    display: block
}

.farrr {
    color: var(--cor-primaria)
}

section.sec000 {
    margin-top: 10vw
}

.dev {
    border-top: 1px solid rgba(255, 255, 255, .3)
}

.wapp {
    color: #fff;
    position: fixed;
    right: 1vw;
    bottom: 50px;
    width: 68px;
    height: 75px;
    background-image: url('../images/wpp.webp');
    background-size: cover;
    background-size: 70px;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 99;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    display: none
}

.containeContato {
    margin: 3vw 7vw 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

.col-lg-1 {
    max-width: 100%;
    color: var(--cor-primaria)
}

.team-content {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 36vw
}

.text_contato1 {
    margin: 0;
    font-size: 3vw
}

.text_contato {
    font-size: 1.8vw
}

.abertura_de_empresa {
    display: flex;
    flex-direction: column;
    width: 47vw
}

.nameTelefone {
    display: flex;
    flex-direction: row
}

.nn {
    padding: .8vw;
    width: 100%;
    background-color: #001930;
    border-width: 0 0 0 0;
    border-radius: 11vw;
    margin-bottom: 1vw;
    color: white;
    margin-right: .8vw
}

.tt {
    padding: .8vw;
    width: 100%;
    background-color: #001930;
    border-width: 0 0 0 0;
    border-radius: 11vw;
    margin-bottom: 1vw;
    color: white
}

.mail {
    max-width: 96.5%
}

.ee {
    padding: .8vw;
    width: 100%;
    background-color: #001930;
    border-width: 0 0 0 0;
    border-radius: 11vw;
    margin-bottom: 1vw;
    color: white
}

.envi {
    background-color: royalblue;
    width: 100%;
    outline: none;
    border-radius: 10vw;
    margin: auto;
    border-style: none;
    color: white;
    padding: .8vw;
    transition: 200ms
}

.envi:hover {
    background-color: #fff;
    color: #2B2C95;
    border-color: #fff;
    cursor: pointer
}

.spp {
    text-align: center;
    margin-top: 10vw;
    font-style: italic;
    color: var(--cor-primaria);
}

.spp span {
    font-size: 3vw
}