@media screen and (max-width: 768px){
    header {
        background: var(--cor-white);
        padding: 2vw 0;
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 999
    }

    .logo {
        width: 24.871794871794872vw;
        height: 13.58974358974359vw
    }

    .sec01 {
        height: 153vh;
        top: 12vw;
        background-position-x: -114vw;
        margin-bottom: 16vw;
    }

    .container01 .vert01 img {
        width: 80vw;
        height: 90.25641025641026vw;
        z-index: 5;
        position: relative;
        margin-top: 5vw;
        top: 22vw;
    }

    .vert02 .lay_text {
        text-align: center;
        color: var(--cor-white);
        font-style: italic;
    }

    .container01 .vert02 {
        position: absolute;
        margin-top: 8vw;
        padding: 2vw 9vw
    }

    .container01 .vert02 .lay_text h1 {
        font-size: 4.7vw;
        top: -95vw;
        position: relative;
        font-style: italic
    }

    .setedois {
        visibility: hidden;
        font-size: 8vw;
    }

    .setedois:before {
        content: '72 horas';
        animation: aten 3s infinite;
        animation-delay: 1s;
        transition: 1s;
        position: absolute;
        visibility: visible;
        color: rgb(255, 253, 134);
    }

    .container01 .vert02 .lay_text h2 {
        font-size: 4vw
    }

    .particles {
        height: 130vh
    }

    .container01 .vert02 .lay_text h3 {
        font-size: 4vw;
        top: 29vw;
        position: relative
    }

    .container01 .vert02 .action {
        margin-top: 5vw;
        font-size: 4vw;
        padding: 2vw;
        border-radius: 1.3000000000000007vw;
        top: -20vw
    }

    .sec02 {
        margin-top: -71vw
    }

    .container02 .vert01 span:nth-child(1) {
        font-size: 7vw
    }

    .container02 .vert01 span:nth-child(2) {
        font-size: 9vw
    }

    .pass {
        margin: 7vw 9vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pass img {
        width: 85.28205128205127vw;
        height: 77.8974358974359vw;
        margin: 0vw;
    }

    .infos span:nth-child(1) {
        font-size: 5vw;
        text-align: center
    }

    .infos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .infos img {
        width: 50vw;
        height: 49vw;
        margin-top: 7vw
    }

    .actionBtn {
        position: relative
    }

    .paragraphe02 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 10vw
    }

    .paragraphe02 img {
        width: 50vw;
        height: 49vw;
        margin: 7vw 0
    }

    .container02 .action {
        background-color: var(--cor-primaria);
        color: var(--cor-white);
        font-size: 5vw;
        padding: 3vw 3vw;
        border-radius: 1.3000000000000007vw;
        outline: none;
        border-style: none;
        font-weight: bold;
        cursor: pointer;
        animation: pulseButton 2s infinite;
        max-width: 80vw;
    }


    .vert01 span:nth-child(1) {
        font-size: 5vw;
        text-align: center
    }

    .vert01 span:nth-child(2) {
        font-size: 7vw;
        text-align: center;
        font-weight: bolder
    }

    .ngs {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        margin: 9vw 3vw;
        align-items: center
    }

    .container03 .vert02 span {
        font-weight: bold;
        margin-bottom: 2vw
    }

    .container03 .vert02 .ngs .ng {
        box-shadow: #00000075 0 0 7px;
        border-radius: 3vw;
        margin-bottom: 11vw;
        padding: 7vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 5vw;
        background-color: var(--cor-primaria);
        color: var(--cor-white)
    }

    .container03 .vert02 .action {
        background-color: var(--cor-primaria);
        color: var(--cor-white);
        font-size: 5vw;
        padding: 2.5vw;
        border-radius: 1.3000000000000007vw;
        outline: none;
        border-style: none;
        font-weight: bold;
        cursor: pointer;
        animation: pulseButton 2s infinite;
        margin-bottom: 4vw
    }

    .carousel {
        width: 100%;
        overflow-x: scroll;
        left: 1vw;
        position: relative
    }

    .carousel-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .carousel-items {
        display: flex;
        transition: transform .3s ease-in-out;
        width: 200vw;
        align-items: center
    }

    .carousel-item {
        flex: 0 0 calc(100% / 3);
        margin-right: 9vw;
        margin-left: -2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3vw;
        border-radius: 2.5vw
    }

    .carousel-prev,
    .carousel-next {
        visibility: hidden
    }

    .vert01 span:nth-child(1) {
        font-size: 6vw;
        text-align: center
    }

    .container05 .vert01 p {
        margin-top: 10vw;
        font-size: 4vw;
        margin-bottom: 5vw
    }

    .container05 .vert02 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center
    }

    .container05 .vert02 .serv {
        width: 65vw;
        box-shadow: #00000075 0 0 7px;
        border-radius: 1vw;
        margin: 1vw;
        padding: 7vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        font-weight: 700;
        background: var(--cor-primaria);
        color: var(--cor-white)
    }

    .container05 .vert02 .serv i{
        font-size: 7vw;
    }

    .container05 .vert02 .serv span {
        margin: 2vw;
        font-size: 5vw
    }

    .container05 .action {
        background-color: var(--cor-primaria);
        color: var(--cor-white);
        font-size: 5vw;
        margin-top: 8vw;
        padding: 3vw 1.5vw;
        border-radius: 2vw;
        outline: none;
        border-style: none;
        font-weight: bold;
        cursor: pointer;
        animation: pulseButton 2s infinite;
        width: 82%
    }

    .carousel-item img {
        width: 87vw;
        height: 112.499vw;
        border-radius: 2vw;
        box-shadow: #00000047 0 0 7px
    }

    .spp span {
        font-size: 8vw
    }

    .accordion {
        border-radius: 5px;
        margin: 20px 0;
        padding: 15px;
        padding-left: 10vw;
        padding-right: 10vw
    }

    .container04 {
        margin-top: 10vw;
        text-align: center;
        color: var(--cor-primaria)
    }

    .accordion {
        border-radius: 5px;
        margin: 20px 0;
        padding: 0
    }

    .containeContato {
        margin: 3vw 7vw 7vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column
    }

    .team-content {
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%
    }

    .text_contato1 {
        margin: 0;
        font-size: 7vw
    }

    .text_contato {
        font-size: 5vw
    }

    .abertura_de_empresa {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5vw
    }

    .nameTelefone {
        display: flex;
        flex-direction: column
    }

    .mail {
        max-width: 100%
    }

    .nn,
    .tt,
    .ee {
        padding: 3.8000000000000007vw;
        width: 90%;
        background-color: #001930;
        border-width: 0 0 0 0;
        border-radius: 11vw;
        margin-bottom: 1vw;
        font-size: 5vw;
        color: white
    }

    .envi {
        background-color: royalblue;
        width: 100%;
        outline: none;
        border-radius: 10vw;
        margin: auto;
        border-style: none;
        color: white;
        padding: 4.8vw;
        transition: 200ms
    }

    .envi:hover {
        background-color: #2B2C95;
        color: #fff;
        border-color: #fff;
        cursor: pointer
    }

    .contatoss {
        margin: 7vw 5vw 39vw;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .iconRedes {
        color: white;
        font-size: 7vw;
        margin: 1vw
    }

    footer {
        background-image: url('../images/banner-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
        width: 100%;
        height: 73vh;
        text-align: center;
        color: var(--cor-white);
        transform: rotate(180deg);
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .contatoss>:nth-child(1) {
        font-weight: 600;
        margin-bottom: 1vw;
        color: white;
        font-size: 7vw;
    }

    .textContato {
        margin: 1vw 0;
        font-size: 3.5vw;
        color: white;
    }

    .contatoss>:nth-child(2) {
        font-family: 'Arial';
        font-weight: 600;
        margin-bottom: 2vw;
        color: white
    }

    .icoContato {
        margin-right: 1vw;
        font-size: 5vw;
        margin-bottom: 1vw
    }

    /*====*/
    .wapp {
        bottom: 2.843vw;
        width: 19.227000000000004vw;
        height: 19.765vw;
        background-size: 16.381vw;
    }

    .lay_whats .text {
        padding: 6vw;
    }

    .lay_whats {
        position: absolute;
        right: 3vw;
        bottom: calc(50vh - 41vw); /* 50% da altura da janela - metade da largura da div */
        width: 93vw;
    }

    .lay_whats .text span {
        max-width: 75vw;
        font-size: 4.444vw;
    }

    .lay_whats .abertura_de_empresa_pop {
        padding: 4vw;
    }

    .lay_whats .abertura_de_empresa_pop .nameTelefone .nn,
    .lay_whats .abertura_de_empresa_pop .nameTelefone .tt,
    .lay_whats .abertura_de_empresa_pop .mail .ee {
        font-size: 3.889vw;
        border-radius: 1.389vw;
        border-width: 0.077vw;
        width: 77vw;
    }

    #countrySelect {
        padding-left: 14vw;
        width: 15.5vw;
        height: 12.59vw;
    }

    .country-image {
        top: 50%;
        left: calc(50% - 6px);
        position: absolute;
        transform: translate(-50%, -50%);
        width: 9vw;
        outline: none;
    }

    span.code {
        position: relative;
        left: 23vw;
        font-size: 4vw;
        top: 11vw;
        transform: translate(-50%, -50%);
    }

    .abertura_de_empresa_pop .nameTelefone .tt {
        padding-left: 20.5vw;
    }

    div.pop>div>form.abertura_de_empresa_pop>button.envi {
        -ms-flex-align: center;
        -ms-flex-direction: column;
        -ms-flex-pack: center;
        background-color: rgba(83, 164, 81, 1);
        border-bottom-style: none;
        border-color: #000000;
        border-left-style: none;
        border-radius: 1.389vw;
        font-family: Open Sans, sans-serif;
        height: auto;
        margin-top: 1vw;
        max-width: 72vw;
        font-size: 4vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 360px){
    .sec01 {
        height: calc(57rem + 11vw);
        margin-bottom: 19vw;
    }

    footer {
        height: 78vh;
        background-position: bottom;
    }
}

@media screen and (min-width: 360px) and (max-width: 373px){
    .sec01 {
        height: calc(57rem + 11vw);
        margin-bottom: 19vw;
    }
    .contatoss {
        margin: 15vw 5vw 39vw;
    }
    footer {
        height: 78vh;
    }
}
@media screen and (min-width: 373px) and (max-width: 390px){
    .sec01 {
        height: calc(61rem + 11vw);
        margin-bottom: 19vw;
    }
}

@media screen and (min-width: 390px) and (max-width: 420px){
    .sec01 {
        height: calc(62rem + 26vw);
        margin-bottom: 19vw;
    }
    .contatoss {
        margin: 7vw 5vw 63vw;
    }
}


@media screen and (min-width: 420px) and (max-width: 480px){
    .sec01 {
        height: calc(68rem + 26vw);
        margin-bottom: 19vw;
    }
}





/*
@media screen and (min-width: 591px){
    .sec01{
        background-position-x: -93vw;
        height: calc(61rem + 27px);
        margin-bottom: 13vw;
    }
    .contatoss {
        margin: 9vw 4vw 37vw;
    }
}



@media screen and (min-width: 450px) and (max-height: 800px) {
    .sec01{
        background-position-x: -81vw;
        height: calc(69rem + 8vw);
        margin-bottom: 13vw;
    }
}

@media screen and (min-width: 390px) and (max-height: 800px) {
    .sec01{
        background-position-x: -116vw;
        height: calc(64rem + 7vw);
        margin-bottom: 18vw;
    }
}

@media screen and (min-width: 393px) and (max-height: 851px) {
    .sec01{
        background-position-x: -116vw;
        height: calc(64rem + 7vw);
        margin-bottom: 18vw;
    }
}

@media screen and (min-width: 360px) and (max-height: 740px) {
    .sec01{
        background-position-x: -116vw;
        height: calc(59rem + 7vw);
        margin-bottom: 18vw;
    }
    .contatoss {
        margin: 12vw 4vw 48vw;
    }
}




@media screen and (min-width: 768px) and (max-height: 1024px) {
    .sec01 {
        background-position-x: -200vw;
        height: calc(74rem + 15vw);
        margin-bottom: 71vw;
    }

    .contatoss {
        margin: 0vw 5vw 53vw;
    }

    .container01 {
        display: flex;
        flex-direction: column;
        padding: 9vw 6vw;
        align-items: center;
    }

    .container01 .vert01 img {
        width: 56.38vw;
        height: 63.802vw;
        z-index: 2;
        position: relative;
        top: 12vw;
    }

    .container01 .vert02 .lay_text h1 {
        font-size: 4.7vw;
        top: -13vw;
        position: relative;
        font-style: italic;
    }

    .container01 .vert02 .lay_text h2 {
        font-size: 4vw;
        margin-top: 54vw;
    }

    .vert02 .lay_text h2 {
        font-size: 2.72vw;
        font-weight: bold;
    }

    .container01 .vert02 .lay_text h3 {
        font-size: 3.72vw;
        margin-top: -10vw;
    }

    .container01 .vert02 .action {
        font-size: .7vw;
        margin-top: 18vw;
    }

    .wapp {
        width: 15.227vw;
        height: 20.765vw;
        background-size: 14.381vw;
    }

    .contatoss>:nth-child(1) {
        font-family: 'Arial';
        font-weight: 600;
        font-size: 5vw;
        margin-bottom: 1vw;
        color: white;
    }

    .contatoss>:nth-child(2) {
        font-family: 'Arial';
        font-weight: 600;
        font-size: 3.3vw;
        margin-bottom: 1vw;
        color: white;
    }

    .container05 .action,
    .container03 .vert02 .action {
        border-radius: 1vw;
    }

    .container01 .vert02 .action {
        border-radius: 1vw;
    }

    .container02 .action {
        border-radius: 1vw;
    }

    .container02 .action a {
        font-size: 3vw;
    }

    .container01 .action a {
        font-size: 3.2vw;
    }

    .action a {
        font-size: 4vw;
    }

    .container03 .vert02 .action::after,
    .container05 .action::after {
        font-size: 3vw;
    }

    .carousel-prev,
    .carousel-next {
        font-size: 5vw;
    }

    .container05 .vert02 .serv span {
        margin-bottom: 1vw;
        font-size: 5vw;
        font-weight: bold;
    }

    .infos span:nth-child(1) {
        max-width: 82vw;
    }

    .pass {
        margin: 7vw 9vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infos span:nth-child(1) {
        font-size: 5vw;
        text-align: center;
    }

    .paragraphe02 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 10vw;
    }

    .paragraphe02 span {
        font-size: 4vw;
        max-width: 91vw;
    }

    .container02 {
        text-align: center;
    }

    .ngs {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        margin: 9vw 3vw;
        align-items: center;
    }

    .container03 .vert02 .ngs .ng {
        border-radius: 1vw;
        font-size: 3vw;
        width: 56vw;
        padding: 10vw 6vw;
    }

    .container03 .vert02 span {
        font-weight: bold;
        margin-bottom: 2vw;
        font-size: 4vw;

    }

    .carousel-item {
        flex: 0 0 calc(100% / 3);
        margin-right: 9vw;
        margin-left: -2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0vw;
        border-radius: 2.5vw;
    }

    .carousel {
        width: 100vw;
        left: 0vw;
    }

    .carousel-item img {
        width: 67vw;
        height: 85.499vw;
    }

    .accordion-title {
        margin: 0;
        font-size: 3vw;
    }

    .accordion-content p {
        font-size: 2.5vw;
    }

    .container05 .vert02 .serv {
        font-size: 3vw;
    }

    .envi {
        font-size: 3vw;
    }

    footer {
        height: 84vh;
    }

    .lay_whats {
        right: 3vw;
        bottom: 74vw;
        width: 93vw;
        top: calc(50% - 321px);
    }
}

*/